@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Quicksand&display=swap');

 body{
    background-color: #EFE5DC;
    /* padding: 0 10px; */
    /* margin: 10px 0 0 0; */
}

section {
    min-height: 100vh;
}
img.logo {
    border-radius: 50%;
}

nav a {
    color: rgb(168, 161, 161) !important;
}

nav a:hover{
    color: blueviolet !important;
}

.lead {
    line-height: 1.5rem !important;
}

.col-6 a{
    color: black;
}

footer.row {
 background-color: #DDBEA9 !important;
}

#footer-width{
    width: 100%;
    overflow-x: hidden;
}


.bgimg{
    background-image: url(./images/backgr.jpg);
    position: relative;
    background-size: cover;
    height: 100vh;
    width: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.bgtext{
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.4);
    color: rgb(255, 255, 255);
    /* font-weight: ; */
    border: 1px solid rgb(224, 193, 154);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 2; */
    /* width: 80%; */
    padding: 20px;
    text-align: center;
}

.container.overlay {
backdrop-filter: blur(3px);
}

h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.grid-container{
    grid-template-columns: auto auto;
    display: grid;
    gap: 40px 40px;
    justify-content: center;
}

.grid-items {
    /* border-radius: 40%; */
}

.col-lg-6.col-md-6.col-sm-6.col-xs-6.hero-text {
    margin-left: 60px;
}

img.me {
    margin-bottom: 60px;
}

.container.text.center {
    vertical-align: center;
}

.bkgrimg {
    background-image: url(./images/blk\ lc.png);
    height: 100vh;
}

.d-block{
    object-fit: contain;
    max-height: 480px;
    max-width: auto;
    margin:auto;
    border-radius: 10px;
    /* box-shadow: 4px; */
}

.d-block.p{
    text-align: right;
}

.col-md-8 {
    justify-content: center;
}

